.image {
  width: 100%;
  object-fit: contain;
}

.imageContianer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.imageContianer__loader,
.imageContianer__endMessage {
  text-align: center;
  grid-column: 1 / -1;
}
