/* Nav Bar */
.navbar {
  padding: 0;
  background-color: hsl(210, 100%, 20%);
  font-weight: bolder;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  background-color: hsl(210, 100%, 10%);
}

/* dropdown-menu */
.dropdown-menu {
  background-color: hsl(210, 100%, 20%);
}

.dropdown-item:hover {
  background-color: hsl(210, 100%, 10%);
}
