/* Nav Bar */
.navbar {
  padding: 0;
  background-color: hsl(210, 100%, 20%);
  font-weight: bolder;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  background-color: hsl(210, 100%, 10%);
}

.navbar__container {
  flex-direction: column;
}

.navbar-toggler {
  align-self: flex-end;
  color: white;
  font-size: 5rem;
  outline: none;
  box-shadow: none;
}

/* dropdown-menu */
.dropdown-menu {
  background-color: hsl(210, 100%, 20%);
}

.dropdown-item:hover {
  background-color: hsl(210, 100%, 10%);
}
