.tagline {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tagline .tagline__title {
  font-size: 7rem;
}
.tagline .tagline__subtitle {
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  .tagline .tagline__title {
    font-size: 5rem;
  }
  .tagline .tagline__subtitle {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .tagline .tagline__title {
    font-size: 6rem;
  }
  .tagline .tagline__subtitle {
    font-size: 4rem;
  }
}
